{% extends 'base.html.twig' %}

{% block title %}Modifier Chantier{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Modifier le chantier</h1>
        <a class="BtnEmploye" href="{{ path('app_chantier_index') }}">Retour à la liste des chantiers</a>
    </div>

    <div class="FormNewEmploye">
        {{ include('chantier/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

{% endblock %}
