{% extends 'base.html.twig' %}

{% block title %}Nouveau Chantier{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Créer un nouveau chantier</h1>
        <a class="BtnEmploye a-btn" href="{{ path('app_chantier_index') }}">Retour à la liste</a>
    </div>

    <div class="FormNewEmploye">
        {{ include('chantier/_form.html.twig') }}
    </div>


{% endblock %}
