{% extends 'base.html.twig' %}

{% block title %}Edit Metier{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Modification du métier</h1>
        <a class="BtnEmploye" href="{{ path('app_metier_index') }}">Retour à la liste des métiers</a>
    </div>


    <div class="FormNewEmploye">
        {{ include('metier/_form.html.twig', {'button_label': 'Mettre à jour le métier'}) }}
    </div>

{% endblock %}
