{% extends 'base.html.twig' %}

{% block title %}New Metier{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Ajouter un métier</h1>
        <a class="BtnEmploye" href="{{ path('app_metier_index') }}">Retour à la liste des métiers</a>
    </div>

    <div class="FormNewEmploye">
        {{ include('metier/_form.html.twig') }}
    </div>



{% endblock %}
