{% extends 'base.html.twig' %}

{% block title %}Metier{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Metier</h1>
        <a class="BtnEmploye" href="{{ path('app_metier_index') }}">Retour à la liste des métiers</a>
        <a class="btn-link" href="{{ path('app_metier_edit', {'id': metier.id}) }}"><img class="btnListe btnListeModifView" src="../../Image/modif.png"></a>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metier.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ metier.label }}</td>
            </tr>
        </tbody>
    </table>



{% endblock %}
