<form method="post" class="form-delete" action="{{ path('app_tache_delete', {'id': tache.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tache.id) }}">
    <button class="btnSupprimer"><img class="btnListe" src="../../Image/supprimer.png"></button>
</form>
