{% extends 'base.html.twig' %}

{% block title %}New Tache{% endblock %}

{% block body %}
<h1>Ajouter une tâche</h1>
{% for flashMessage in app.flashes('warning') %}
<div class="alert alert-warning" role="alert">
    {{ flashMessage }}
</div>
{% endfor %}
{{ include('tache/_form.html.twig') }}

<a class="btn-link" href="{{ path('app_tache_index') }}">Retour à l'index</a>
{% endblock %}