* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif !important;
}

.TitlePage {
    color: #23362F;
    font-family: 'Roboto';
    font-weight: bold;
}

.TitleBtn {
    width: 100%;
}

.ROW {
    display: flex;
    flex-direction: row;
}

/* HEADER */

header {
    background-color: white;
}

.navBase {
    margin-left: -4vw;
}

.btnHeader, .btnCentralHeader {
    margin-left: 1vw;
    text-decoration: none;
    color: #23362F;
}

.btnCentralHeader {
    width: 16vw;
    font-weight: bold;
    padding: 1vh 5vw 1vh 5vw;
    color: white;
    background-color: #23362F;
    border-radius: 15px;
    text-align: center;
}

.btnCentralHeaderLogout {
    font-weight: bold;
    padding: 1vh 1vw;
    color: white;
    background-color: #B0413E;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.btnCentralHeaderLogout:hover {
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #bbbbbb inset;
}

.btnCentralHeaderLogout:hover svg path{
    fill: #B0413E;
}

.btnCentralHeaderDash {
    margin-left: 5vw;
    font-weight: bold;
    padding: 1vh 5vw 1vh 5vw;
    color: white;
    background-color: #23362F;
    border-radius: 15px;
    text-decoration: none;
}

.TITRE {
    margin-right: 7vw;
}

.btnListe {
    width: 2vw;
}

.btnSupprimer {
    border: none;
    background-color: white;
}

.btnListeModifView {
    margin-top: 1vh;
    margin-left: 2vw;
}

.gridCol2 {
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.BtnSubmit {
    width: 30% !important;
}

.Col {
    display: flex;
    flex-direction: column;
}

.listeTache {
    width: 80%;
}

.ImgUser {
    margin-top: 10%;
    margin-left: 35vw;
    width: 20%;
}

