* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif !important;
}

.TitlePage {
    color: #23362F;
    font-family: 'Roboto';
    font-weight: bold;
}

.TitleBtn {
    width: 100%;
}

.ROW {
    display: flex;
    flex-direction: row;
}

/* HEADER */

header {
    background-color: white;
}

.navBase {
    margin-left: 5vw;
}

.btnHeader, .btnCentralHeader {
    margin-left: 1vw;
    text-decoration: none;
    color: #23362F;
}

.btnCentralHeader {
    font-weight: bold;
    padding: 1vh 5vw 1vh 5vw;
    color: white;
    background-color: #23362F;
    border-radius: 15px;
}

.btnCentralHeaderLogout {
    font-weight: bold;
    padding: 1vh 5vw 1vh 5vw;
    color: white;
    background-color: #B0413E;
    border-radius: 15px;
    text-decoration: none;
}

.btnCentralHeaderDash {
    margin-left: 5vw;
    font-weight: bold;
    padding: 1vh 5vw 1vh 5vw;
    color: white;
    background-color: #23362F;
    border-radius: 15px;
    text-decoration: none;
}

.TITRE {
    margin-right: 7vw;
}

.btnListe {
    width: 2vw;
}

.btnSupprimer {
    border: none;
    background-color: white;
}

.btnListeModifView {
    margin-top: 1vh;
    margin-left: 2vw;
}


