*{
    font-family: 'Roboto', sans-serif!important;
}

.BtnEmploye {
    height: 4vh;
    margin-top: 1vh;
    margin-left: 5vw;
    width: auto;
    padding: 0.5vh 2vw;
    border-radius: 15px;
    color: white;
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: bold;
}

.table {
    color: #23362F;
}

.table th {
    background-color: #23362F;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
    background-color: #e6e6e6;
}

#employe {
    display: grid;
    grid-template-columns: 50% 50%;
}

.FormNewEmploye label {
    margin-left: 5vw;
    margin-top: 5vh;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 1.1rem;
}

.FormNewEmploye label:last-child {
    margin-top: 10vh;
}

.FormNewEmploye input, .FormNewEmploye select, .FormNewEmploye textarea {
    margin-left: 5vw;
    height: 5vh;
    width: 30vw;
    border: 1.5px solid #23362F;
}

.FormNewEmploye input:first-child {
    margin-top: 9vh;
    margin-left: 3.5vw;
    width: 3vw;
}

.FormNewEmploye input:read-write {
    padding-left: 1vw;
}

.FormNewEmploye textarea {
    height: 10vh;
}

.selectMult {
    height: 10vh !important;
}

.form-btn-add{
    position: absolute;
    right: 2vw;
    bottom: 5vh;
    height: 4vh;
    width: auto;
    padding: 0.5vh 2vw;
    border-radius: 15px;
    color: white;
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: bold;
    background-color: #1F8861;
    border: none;
    transition: 0.3s ease all;
}

.form-btn-add:hover{
    background-color: #10553c;
}