a{
    text-decoration: none;
}

h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    width: 100%;
    /* max-width: 1024; */
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
}

table .action-column {
    width: 200px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

tr td:last-child {
    text-align: center;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="date"] {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form select {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    appearance: none;
}

form select:focus {
    border-color: #4CAF50;
    outline: none;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

form input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

.btn-link {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.form-delete {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #f44336;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.btn-link:hover {
    background-color: #e9e9e9;
    border-color: #bbb;
}

.btn-delete{
    width: fit-content;
    display: inline-block;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-delete:hover {
    background-color: #d32f2f;
    border-color: #d32f2f;
}

.btn-edit,
.btn-preview {
    display: inline-block;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-edit {
    background-color: #ffeb3b;
    color: #333;
}

.btn-edit:hover {
    background-color: #fdd835;
    border-color: #fbc02d;
}

.btn-preview {
    background-color: #03a9f4;
    color: white;
}

.btn-preview:hover {
    background-color: #0288d1;
    border-color: #0277bd;
}

.dashboard-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}


.dashboard {
    flex: 2;
    padding-right: 20px;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.user-info {
    flex: 1;
    background-color: #34495e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.user-details, .user-role, .user-options {
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: white;
    margin: 10px 0;
}

.role {
    color: #f39c12;
    font-weight: bold;
}

.logout-button {
    display: inline-block;
    background-color: #c0392b;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #e74c3c;
}
