{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Ajouter un client</h1>
        <a class="BtnEmploye" href="{{ path('app_client_index') }}">Retour à la liste des clients</a>
    </div>

    <div class="FormNewEmploye">
        {{ include('client/_form.html.twig') }}
    </div>



{% endblock %}
