{% extends 'base.html.twig' %}

{% block title %}Modifier Employé{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Modifier l'employé</h1>
        <a class="BtnEmploye" href="{{ path('app_employe_index') }}">Retour à la liste des employés</a>
    </div>

    <div class="FormNewEmploye">
        {{ include('employe/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>


{% endblock %}
